<!--Formulario de contacto-->
<div class="content">
  <div class="contact-wrapper">
    <div class="contact-form">
      <h3 class="text-center">Contacto </h3>
      <form action="/contacto" method="post">
        <p>
          <label for="nombre"> Nombre y Apellido </label>
          <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre y apellido" />
        </p>
        <p>
          <label for="apellido"> Ingrese Email </label>
          <input type="email" name="email" placeholder="Email" required />
        </p>
        <p>
          <label for="celular">Celular</label>
          <input type="tel" name="celular" placeholder="Ingrese celular" />
        </p>
        <p>
          <label for="asunto">Asunto</label>
          <input type="text" name="asunto" placeholder="Ingrese asunto" />
        </p>
        <p class="block">
          <label for="mensaje">Mensaje</label>
          <textarea name="mensaje" rows="3" placeholder="Mensaje"></textarea>
        </p>
        <p class="block">
          <button type="submit">Enviar</button>
        </p>
      </form>
      <p class="text-center" > {{message}} </p>
    </div>
  </div>
</div>
<!--Fin Form Contacto-->
<!--vistitanos-->
 <!--vistitanos-->
    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-4">
            <h3 class="text-center">Visitanos</h3>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.21923322086!2d-58.420107599999994!3d-34.5986174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1658753833744!5m2!1ses-419!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

