<div class="linea"></div>

<!--Portafolio-->
<div class="portafolio-box">
        <div class="portafolio-box-heading">
            <span class="portafolio_box-span">Portafolio</span>
        </div>
    </div>
<section class="portafolio">
 
            <a href="https://ornella07.github.io/web/index.html" target="_blank" >
            <figure class="portafolio-figure">
                <img src="/images/pasti.png" class="portafolio-box-img">
            </figure>          
            <p><br>Las Pastillas Del Abuelo</p>

        </a>
        <a href="https://ornella07.github.io/simonsay.github.io/" target="_blank" >
            <figure class="portafolio-figure">
                <img src="/images/simon.png" class="portafolio-box-img">
            </figure>
            <p><br>Simon Say</p>
        </a>
        <a href="https://ornella07.github.io/paletacolores.github.io/" target="_blank" >
            <figure class="portafolio-figure">
                <img src="/images/Colores.jpg" class="portafolio-box-img">
            </figure>
            <p><br>Paleta de Colores</p>
        </a>       
        <a href="https://ornella07.github.io/calculadora.github.io/" target="_blank" >
            <figure class="portafolio-figure">
                <img src="/images/calculadora.jpg" class="portafolio-box-img">
            </figure>
            <p><br>Calculadora</p>
        </a>    
        <a href="https://ornella07.github.io/tareas.github.io/" target="_blank" >
            <figure class="portafolio-figure">
                <img src="/images/tareas.png" class="portafolio-box-img">
            </figure>
            <p><br>Lista de Tareas</p>
        </a>    
        <a href="https://ornella07.github.io/agenda.github.io/" target="_blank" >
            <figure class="portafolio-figure">
                <img src="/images/agenda.png" class="portafolio-box-img">
            </figure>
            <p><br>Agenda</p>
        </a>    
      
</section>
